/*font styles*/

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Bold.otf);
}

@font-face {
  font-family: Uni Sans;
  src: url(../fonts/Uni Sans Heavy.otf);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 2px #ffffff;
  cursor: pointer;
}

h1,
h2 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 40px;
  line-height: 55px;
  position: relative;
  color: #ffffff;
}

h1:after {
  width: 250;
  height: 1px;
  background-color: #cccccc;
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.local-link {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #cccccc;
    text-transform: uppercase;
    margin-top: 28px;
    display: inline-block;
    margin-bottom: 25px;
}

.information-icon {
  color: #4c4640;
  position: absolute;
  top: 412px;
  border: 1px solid #4c4640;
  border-radius: 50%;
  line-height: 23px;
  display: inline-block;
  width: 23px;
  font-size: 10px;
  left: 12px;
  padding-left: 2px;
}