@charset "UTF-8";

/*reset.css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*font styles*/

@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNova-Bold.otf);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 2px #ffffff;
  cursor: pointer;
}

h1 {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 40px;
  line-height: 55px;
  position: relative;
}

h1:after {
  width: 250;
  height: 1px;
  background-color: #cccccc;
  display: block;
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

/*base*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

body {
  background-image: url("../images/background.png");
  color: #ffffff;
}

.container {
  width: 1199px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}


/*header styles*/

.header {
  height: 100px;
  padding: 51px 107px 37px 407px;
  position: relative;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.logo {
  position: absolute;
  top: 32px;
  left: 109px;
}

.navigation__item {
  display: inline-block;
  width: 160px;
  text-align: center;
}

.language-switcher {
  line-height: 16px;
  font-size: 12px;
  position: absolute;
  top: 53px;
  right: 107px;
}

.language-switcher_not-active {
  color: #4c4c4c;
}

.header:after {
  width: 1080px;
  display: block;
  content: "";
  height: 1px;
  background-color:#7b7c7d;
  position: absolute;
  left:59px;
  bottom:0px;
}

/*support-team-block*/

.support-team-block {
  padding: 30px 46px 0 55px;
  text-align: center;
}


