/*stream-block styles*/

.stream-block {
  text-align: center;
  padding: 0px 80px 74px 80px;

h2 {
  line-height: 130px;
}

.stream-block__video {
  width: 100%;
  height: 995px;
  background-color: rgba(34,56,78,0.4);
  margin-top: 47px;
}

.stream-video {
  position: relative;
  width: 100%;
  height: 100%;
}

}